*{
    margin: 0;
    padding: 0;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center
}
.logo img{
    width:33%;
    border: #1DCD89;
}
.navbar{
   display: flex;
   
}
.nav-list{
    width: 50%;
    background-color: #1DCD8D;

}

.nav-list li{

}

.nav-list li a{

}

.rightNav{
    background-color: aquamarine;
    width:50%;
    text-align: right;
}